<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Ragione Sociale<br>
    <%= f.text_area :company_name %>
  </div>
  <div class="field">
    Indirizzo<br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    CAP<br>
    <%= f.text_area :cap %>
  </div>
  <div class="field">
    Città<br>
    <%= f.text_area :city %>
  </div>

  <div class="field">
    Provincia<br>
    <%= f.text_area :county %>
  </div>


  <div class="field">
    e-mail<br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    Codice Fiscale<br>
    <%= f.text_area :cf %>
  </div>
  <div class="field">
    Partita IVA<br>
    <%= f.text_area :piva %>
  </div>
  <div class="field">
    Prezzo Orario<br>
    <%= f.text_field :hour_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
