<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @activity.hour %>
</p>

<p>
  <strong>Report:</strong>
  <%= @activity.report %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
