<p id="notice"><%= notice %></p>

<%= link_to 'Back to customers', customers_path  %>

<h1 id="casino">Elenco dei rapportini di <%=@customer.company_name %></h1>



<table>
  <thead>
    <tr>
		<th>Codice</th>
	      <th>Data</th>
	      <th>Durata intervento</th>
	      <th>Durata Viaggio</th>
		  <th>Descrizione </th>
	      <th>Fatturato</th>
	      <th>Cliente</th>
	      <th colspan="3"></th>
    </tr>
  </thead>

	<tbody  >
		<% @reports.each do |report| %>
			<tr class="update_billed2">
				<%= render report %>
			</tr>
		<% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Rapportino', new_report_path(:customer_id => @customer.id) %>
