<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @report.report_date %>
</p>

<p>
  <strong>Durata intervento:</strong>
  <%= @report.hour.strftime('%H:%M') %>
</p>

<p>
  <strong>Durata viaggio:</strong>
  <%= @report.hour_trip.strftime('%H:%M') %>
</p>

<p>
	<strong>Descrizione</strong>
	<%= @report.description %>
</p>

<p>
  <strong>Fatturato:</strong>
  <%= @report.billed %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @report.customer.company_name %>
</p>

<%= link_to 'Modifica', edit_report_path(@report) %> |
<%= link_to 'Precedente', reports_path(customer_id: @report.customer.id) %>
